<?xml version="1.0"?>
<config>
	<modules>
		<Studio4_InvoiceConfig>
			<version>1.1.4</version>
		</Studio4_InvoiceConfig>
	</modules>
	<global>
		<models>
			<sales>
				<rewrite>
					<order_pdf_creditmemo>Studio4_InvoiceConfig_Model_Order_Pdf_Creditmemo</order_pdf_creditmemo>
					<order_pdf_invoice>Studio4_InvoiceConfig_Model_Order_Pdf_Invoice</order_pdf_invoice>
					<order_pdf_shipment>Studio4_InvoiceConfig_Model_Order_Pdf_Shipment</order_pdf_shipment>
					
					<order_pdf_items_creditmemo_default>Studio4_InvoiceConfig_Model_Order_Pdf_Items_Creditmemo_Default</order_pdf_items_creditmemo_default>
					<order_pdf_items_invoice_default>Studio4_InvoiceConfig_Model_Order_Pdf_Items_Invoice_Default</order_pdf_items_invoice_default>
					<order_pdf_items_shipment_default>Studio4_InvoiceConfig_Model_Order_Pdf_Items_Shipment_Default</order_pdf_items_shipment_default>
				</rewrite>
			</sales>
			<downloadable>
				<rewrite>
					<sales_order_pdf_items_invoice>Studio4_InvoiceConfig_Model_Downloadable_Sales_Order_Pdf_Items_Invoice</sales_order_pdf_items_invoice>
					<sales_order_pdf_items_creditmemo>Studio4_InvoiceConfig_Model_Downloadable_Sales_Order_Pdf_Items_Creditmemo</sales_order_pdf_items_creditmemo>
				</rewrite>
			</downloadable>
			<bundle>
				<rewrite>
					<sales_order_pdf_items_invoice>Studio4_InvoiceConfig_Model_Bundle_Sales_Order_Pdf_Items_Invoice</sales_order_pdf_items_invoice>
					<sales_order_pdf_items_creditmemo>Studio4_InvoiceConfig_Model_Bundle_Sales_Order_Pdf_Items_Creditmemo</sales_order_pdf_items_creditmemo>
					<sales_order_pdf_items_shipment>Studio4_InvoiceConfig_Model_Bundle_Sales_Order_Pdf_Items_Shipment</sales_order_pdf_items_shipment>
				</rewrite>
			</bundle>
			<class>
				<order_pdf_abstract>Studio4_InvoiceConfig_Model_Order_Pdf_Abstract</order_pdf_abstract>
				<order_pdf_items_abstract>Studio4_InvoiceConfig_Model_Order_Pdf_Items_Abstract</order_pdf_items_abstract>
				<downloadable_order_pdf_items_abstract>Studio4_InvoiceConfig_Model_Downloadable_Sales_Order_Pdf_Items_Abstract</downloadable_order_pdf_items_abstract>
			</class>
		</models>
		 <blocks>
		 	<studio4_invoiceconfig>
                <class>Studio4_InvoiceConfig_Block</class>
            </studio4_invoiceconfig>
        </blocks>
		 <helpers>
			<studio4_invoiceconfig>
				<class>Studio4_InvoiceConfig_Helper</class>
			</studio4_invoiceconfig>
    	</helpers>
	</global>
	<default>
		<invoiceconfig>
			<s4general>
				<s4_text_suffix>Thank you for Choosing Us!</s4_text_suffix>
				<s4_show_customer_shipping_address>1</s4_show_customer_shipping_address>
				<s4_custom_prefix></s4_custom_prefix>
				<s4_invoice_date>1</s4_invoice_date>
			</s4general>
			<s4colors>
				<s4_main_color>397b94</s4_main_color>
				<s4_text_color>000000</s4_text_color>
				<s4_lighttext_color>636363</s4_lighttext_color>
				<s4_inverted_color>ffffff</s4_inverted_color>
				<s4_lightbg_color>f0f0f0</s4_lightbg_color>
			</s4colors>
		</invoiceconfig>
	</default>
	<adminhtml>
		<layout>
			<updates>
				<Studio4_InvoiceConfig>
					<file>invoiceconfig.xml</file>
				</Studio4_InvoiceConfig>
			</updates>
		</layout>
	</adminhtml>
</config>