<?xml version="1.0"?>
<config>
    <modules>
        <Ideal_Appraisal>
            <version>0.1.0</version>
        </Ideal_Appraisal>
    </modules>
    <global>
        <models>
            <IdealAppraisal>
                <class>Ideal_Appraisal_Model</class>
                <resourceModel>appraisal_resource</resourceModel>
            </IdealAppraisal>

            <appraisal_resource>
                <class>Ideal_Appraisal_Model_Resource</class>
                <entities>
                    <Counter>
                        <table>ideal_appraisal_counter</table>
                    </Counter>
                </entities>
            </appraisal_resource>
        </models>
        <blocks>
            <IdealAppraisal>
                <class>Ideal_Appraisal_Block</class>
            </IdealAppraisal>
        </blocks>
        <helpers>
            <IdealAppraisal>
                <class>Ideal_Appraisal_Helper</class>
            </IdealAppraisal>
        </helpers>
        <resources>
            <ideal_appraisal>
                <setup>
                    <module>Ideal_Appraisal</module>
                </setup>
            </ideal_appraisal>
        </resources>
        <events>
            <controller_action_layout_render_before_adminhtml_sales_order_view>
                <observers>
                    <IdealAppraisal_observer>
                        <type>singleton</type>
                        <class>Ideal_Appraisal_Model_Observer</class>
                        <method>beforeAdminhtmlSalesOrderViewAction</method>
                    </IdealAppraisal_observer>
                </observers>
            </controller_action_layout_render_before_adminhtml_sales_order_view>
        </events>
    </global>
    <admin>
        <routers>
            <Ideal_Appraisal_route>
                <use>admin</use>
                <args>
                    <module>Ideal_Appraisal</module>
                    <frontName>appraisal</frontName>
                </args>
            </Ideal_Appraisal_route>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <appraisal>
                                            <title>Appraisal</title>
                                        </appraisal>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
